<%- include('../partials/header') %>
<p>Hot chicken photo booth ascot tumeric four loko bushwick.
	<select>
		<% items.forEach(function(i) { %>
			<option>
				<%= i.name %> <%= i.collected %> <%= i.deposited %> 
                <!-- <%= i.bundle %>  -->
			</option>
			<% }) %>
	</select>
</p>
<form id="add-item-form" action="/items" method="POST">
	<label>Item Name:</label>
	<input type="text" name="name">
  <label>Collected?</label>
  <input type="checkbox" name="collected">
  <label>Deposited?</label>
  <input type="checkbox" name="deposited">
  </select>
	<input type="submit" value="Add Item">
</form>